{% extends 'base.html' %}

{% block title %}FUND-IT - Página Principal{% endblock %}

{% block content %}
{% load static %}

<!-- Main Content -->
<div class="container-fluid margen">
    <div class="row">
        <div class="col col-8">
            <br>
            <h1>Suscríbete para apoyar Causas de <span class="text-warning">Impacto Social</span></h1>
            <p></p><span class="highlight">¿Con ganas de aportar tu granito de arena para construir un mundo mejor?</span>
            <strong>FUND-IT</strong> es una plataforma diseñada para financiar causas sociales lideradas
                por organizaciones de la sociedad civil mediante un método de suscripciones que permite a los
                usuarios y empresas realizar <strong>donaciones directas en menos de 5 minutos.</strong></p>
            <!-- Statistics Section -->
            <div class="row text-center mt-4">
                <div class="col col-sm">
                    <h2>300+</h2>
                    <p>Causas</p>
                </div>
                <div class="col col-sm">
                    <h2>50+</h2>
                    <p>Descuentos exclusivos <br>en marcas asociadas</p>
                </div>
                <div class="col col-sm">
                    <h2>1000+</h2>
                    <p>Socios suscritos</p>
                </div>
            </div>
            <div class="row text-center mt-4">
                <a href="register" class="btn btn-warning">Suscríbete desde $2.990 al mes, y empieza a donar HOY ❤</a>
            </div>
        </div>
        <div class="col">
            <!-- Causes Section -->
            <div class="row justify-content-center mt-5">
                <img src="{% static 'img/imagen-principal.png' %}" alt="Imagen sobre causas sociales" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}